node_modules/
*.log
*.bin
*.pcap
*.restore
*.apk
*.png
*.gif
*.ico
.out/
FuzzyAI/
assistant/
OSINT_BOT/venv/
vishing_suite/venv/
wifi_warrior_bot/venv/
ultimate_bot/venv/
test_data.txt.dude_encrypted
~/
